ADMIN_USERNAME=
ADMIN_PASSWORD=
BLOB_READ_WRITE_TOKEN=
INQUIRY_NOTIFY_EMAIL=taeyanglife@naver.com
SMTP_HOST=smtp.naver.com
SMTP_PORT=465
SMTP_USER=taeyanglife@naver.com
SMTP_PASS=
NEXT_PUBLIC_SITE_URL=
